{
    "presets": [["es2015", {"modules": false}]],
    "env": {
        "test": {
            "plugins": [
                ["istanbul", {
                    "exclude": [
                        "**/*.+(test|stub).*",
                        "**/vendor"
                    ]
                }]
            ]
        }
    }
}
